.type-header {
    text-align: center;
}

.handle-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    margin-top: 2px;
    margin-bottom: 3px;
    color: black;

    .content {
        width: 75%;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        line-height: 35px;
    }
}