<div *ngFor="let type of service.plantTypes">
    <h5 class="type-header">{{ type.type }}</h5>
    <div *ngFor="let plant of type.plants" class="handle-div" [dndDraggable]="plant" dndEffectAllowed="all">
        <div class="content" dndHandle>{{ plant.name }}</div>
    </div>
</div>
