<span class="upload" *ngIf="progress > 0">
    {{progress}}%
</span>
<span class="upload" *ngIf="message">
    {{message}}
</span>
<input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" />
<button type="button" class="btn btn-secondary" (click)="file.click()">
    Choose
</button>