<select class="form-control" (change)="onGardenSelected($event)">
    <option></option>
    <option *ngFor="let garden of service.gardensList" [value]="garden.id" [selected]="service.garden && service.garden.id === garden.id">{{ garden.name }}</option>
</select>

<button type="button" class="btn btn-secondary btn-block mt-1" (click)="onUnlockFormButtonClick()" [disabled]="!formDisabled">Create garden</button>
<button type="button" class="btn btn-secondary btn-block mt-1" (click)="saveGarden()" [disabled]="!service.garden">Update garden</button>

<choose-background class="mt-1"></choose-background>

<form *ngIf="!formDisabled" class="mt-1" (submit)="onSubmit()">
    <div class="form-group">
        <label for="garden-name">Garden name</label>
        <input type="text" id="garden-name" class="form-control" name="name" [(ngModel)]="model.name" required>
    </div>
    <div class="form-group">
        <label for="squares">Number of squares</label>
        <input type="number" id="squares" class="form-control" name="numberOfSquares" [(ngModel)]="model.numberOfSquares" required>
    </div>
    <div class="form-group">
        <label for="square-height">Height of square</label>
        <input type="number" id="square-height" class="form-control" name="squareHeight" [(ngModel)]="model.squareHeight" required>
    </div>
    <div class="form-group">
        <label for="square-width">Width of square</label>
        <input type="number" id="square-width" class="form-control" name="squareWidth" [(ngModel)]="model.squareWidth" required>
    </div>    
    <button type="submit" class="btn btn-secondary btn-block mt-1">Create</button>
</form>

<plants *ngIf="formDisabled && service.garden"></plants>

