<div class="row h-100">
    <div class="col px-0 no-gutters">
        <div class="top-bar">
            <div *ngFor="let plantType of service.plantTypes">
                <h6>{{ plantType.type }}</h6>
                <span *ngFor="let plant of plantType.plants" class="plant">{{ plant.name }} ({{ getCountInSquare(plant) }})</span>
            </div>
        </div>
        <div class="content" [style.background-image]="service.safeBackgroundPath">
            <div *ngIf="checkSquares()" class="squares">
                <div *ngFor="let square of service.garden.squares" class="square" [style.width]="square.width + 'px'" [style.height]="square.height + 'px'"
                    dndDropzone (dndDrop)="onDrop($event, square)">
                    <div *ngIf="square.square_Plants" class="square-plants">
                        <div *ngFor="let sp of square.square_Plants" class="plant">
                            {{ getPlantName(sp.plantId) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 no-gutters left-bar">
            <gardens></gardens>
    </div>
</div>

