html {
    height: 100%;
}

.top-bar {    
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: space-around;
    color: #fff;

    .plant {
        margin-right: 20px;
    }
}

.content {
    .squares {
        display: flex;
        flex-wrap: wrap;

        .square {
            border: 1px solid #999;

            &:hover {
                background-color: rgba(255,255,255,0.2);
            }

            .square-plants {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 35px;
                margin-top: 2px;
                margin-bottom: 3px;
                color: black;

                .plant {
                    width: 75%;
                    background-color: #fff;
                    border-radius: 10px;
                    border: 1px solid #333;
                    text-align: center;
                    margin-bottom: 5px;
                    line-height: 35px;
                }
            }
        }
    }
}

.left-bar {
    background-color: #333;
    color: white;
    padding: 15px;

    gardens {
        display:  flex;
        justify-content: space-between;
        flex-direction: column;
    }
}